<configuration>
    <packageSources>
        <clear/>
        <add key="GymOccupancyShared" value="https://pkgs.dev.azure.com/drjhunter/drjhunter/_packaging/GymOccupancyShared/nuget/v3/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>